<div class="home-content">
  <div class="home-text">
    diminua o tamanho de qualquer site
  </div>

  <div class="link-container">
    <%= form_for(:url_link, url: url_links_path, html: { class: 'form' }) do |f| %>

      <div class="field">
        <%= f.text_field :original_url, autofocus: true, placeholder: 'Coloque seu link aqui' %>
      </div>
      <% if @current_user.present? %>
        <div class="actions">
          <%= f.submit "Enviar", class: 'submit' %>
        </div>
      <% else %>
        <%= link_to 'cadastrar', new_user_registration_path, class: 'sign-up-link' %>
      <% end %>
    <% end %>
  </div>
</div>
